body {
    font-size: 50px;
    color: black;
}

main {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.todo-form {
    background-color: rgb(209, 239, 192);
    border: 1px solid rgb(209, 222, 192);
    border-radius: 10px;
    box-shadow: 6px 6px 10px 5px rgba(65, 95, 50, 0.5);
}

.todo-container {
    width: 600px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style: none;
    margin-top: 30px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todo-headitem {
    font-size: 45px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.todo-headitem__text {
    margin: 0;
    padding-left: 50px;
    text-decoration: underline;
    font-size: 30px;
}

.todo-item {
    font-size: 45px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.todo-item:last-of-type {
    margin-bottom: 0px; 
}

.todo-item:hover {
    background-color: rgb(191, 223, 176);
}

.todo-item_attached {
    background-color: rgb(167, 197, 152);
}

.todo-item_attached::after {
    content: url(img/attach48.png);
}

.todo-item__box {
    width: 30px;
    height: 30px;
}

.todo-item__text {
    font-size: 45px;
    word-wrap: break-word;
    display: inline;
}

.todo-item__item-delete {
    display: none;
}

.todo-item__item-delete_show {
    background-image: url(img/delete32.png);
    width: 32px;
    height: 32px;
    display: inline-block;
}

.todo-item__item-delete_show:hover {
    border: 3px solid rgb(191, 223, 176);
}

.todo-bottom {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-new-item {
    height: 45px;
    font-size: 30px;
    margin-left: 30px;
    background-color:rgb(191, 223, 176);
    border-color: rgb(191, 223, 176);
    border-radius: 5px;
    box-shadow:  1px 1px 2px 0px rgba(65, 95, 50, 0.5) inset;
}

.todo-new-item:focus {
    background-color: rgb(167, 197, 152);
    border-color: rgb(167, 197, 152);
}

.todo-add-button {
    height: 50px;
    font-size: 30px;
    margin-right: 30px;
    background-color: rgb(191, 223, 176);
    border-color: rgb(191, 223, 176);
    border-radius: 5px;
    box-shadow:  2px 2px 4px 0px rgba(65, 95, 50, 0.5);
}

.todo-add-button:hover {
    background-color: rgb(167, 197, 152);
    border-color: rgb(167, 197, 152);
}

.todo-add-button:disabled:hover {
    background-color: rgb(191, 223, 176);
    border-color: rgb(191, 223, 176);
}