body {
    font-size: 50px;
    color: black;
}

header {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

main {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

form {
    min-height: 300px;
    background-color: rgb(209, 239, 192);
    border: 1px solid rgb(209, 222, 192);
    border-radius: 10px;
    box-shadow: 6px 6px 10px 5px rgba(65, 95, 50, 0.5);
}

ul {
    list-style: none;
}

.todo-headitem__text {
    padding-left: 50px;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
}

.todo-item {
    font-size: 45px;
    padding: 5px;
    margin-right: 40px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.todo-item:hover {
    background-color: rgb(191, 223, 176);
}

.todo-item_attached {
    background-color: rgb(167, 197, 152);
}

.todo-item_attached::after {
    content: url(img/attach48.png);
}

.todo-item__box {
    width: 30px;
    height: 30px;
}

.todo-item__text {
    font-size: 45px;
    display: inline;
}

.todo-item__item-delete {
    display: none;
}

.todo-item__item-delete_show {
    background-image: url(img/delete32.png);
    width: 32px;
    height: 32px;
    display: inline-block;
}

.todo-item__item-delete_show:hover {
    border: 3px solid rgb(209, 239, 194);
}

.todo-bottom {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.todo-new-item {
    width: 300px;
    height: 28px;
    font-size: 25px;
    border-radius: 3px;
}

.todo-add-button {
    height: 35px;
    font-size: 25px;
    border-radius: 3px;
}
